.history_cards{
    display: flex;
    flex-flow: row wrap;
}
.history_card{
    padding: 25px;
    display: flex;
    width: 50%;
    flex-flow: column wrap;
    flex-grow: 1;
    transition: background-color 1s;
}
.history_card:hover{
    background-color: green;
}
