.gallery{
    display: flex;
    width: 100%;
    flex-flow: row;
    flex-wrap: wrap;

    background-color: #111111;
}
.photo_container{
    display: flex;
    flex-flow: column;
    flex-grow: 1;
    width: 30%;
    margin: 15px;
}
.photo{
    height: 300px;
    width: 100%;
    margin: 15px;
}

.image-description{
    margin : 15px;
    padding: 15px;
}
.image-box{
    background-color: #222222 !important;
}
@media only screen and (max-width: 600px) {
    .photo_container{
        width: 100%;
    }
    .image-box{
        width: 95%;
    }
    .image-box img{
        width: 100%;
    }
  }
