.blog_post{
    display: flex;
    flex-flow: row wrap;
    width: 50%;
}
.blog_post{
    margin: 15px;
    display: inline-flex;
    flex-flow: column;
    align-items: center;
    width: 100%;
}
.content{
    flex-grow: 1;   
    width: 100%;
    background-color: black;
}
.content h6{
    padding: 10px;
}
.content h2{
    padding: 15px;
}
.content h5{
    font-size: 18px;
    width: 100%;
    padding-bottom: 10px;
}
.content img{
    max-width: 90%;
    max-height: 500px;
}
.content p{
    padding: 25px;
}
.image_description{
    font-size: 0.25rem;
}
.blog_content{
    font-size: 1rem;
}
@media only screen and (max-width: 700px) {
    .blog_post{
        margin-bottom: 25px;
        width: 90%;
    }
    .content img{
        width: 90%;
    }
}
